{{!< default}}

<section class="intro subheader">
    {{#if @blog.logo}}<a class="blog-logo" href="{{@blog.url}}"><div style="background: url({{@blog.logo}})"></div></a>{{/if}}
    <h2 class="blog-description">
        {{@blog.description}}
    </h2>
</section>

{{> blog-links}}

<section class="content blog">

    {{> posts}}

</section>
