{{!< default}}

<section class="intro subheader">
    <a class="blog-logo" href="{{@blog.url}}"><div style="background: url({{asset "img/firstdoit.png"}})"></div></a>
    <h2 class="blog-description">
        {{@blog.description}}
    </h2>
</section>

{{> blog-links}}

<section class="content blog">

    {{> posts}}

</section>
