.post-meta {
  color: @baseFontColor;
  font-family: @dateFontFamily;
  font-size: @metaFontSize;
  margin-top: 0.3em;
}

.header-bg {
  padding: 1em;
}

article {
  h1 {
    display: inline-block;
  }

  h2, h3 {
    text-transform: uppercase;
  }

  hr {
    border: 1px solid #ecf0f1;
    border-bottom: 0;
    color: #ecf0f1;
  }
}
.share .could-you-possibly
{
  h3 {
    margin: .4em 0;
  }
  min-height: 150px;
  .state .yes, .state .no {
      font-size: 1.1em;
      padding: 0.2em 1em;
      width: auto;
      margin-top: 0.5em;
  }
  .state .share-buttons {
    margin: 1em 0;
    a {
      font-size: 2em;
      padding: 0 .3em 0 0;
    }
  }
}

.post-footer {
  background: none;
  border-top: 1px solid @borderColor;
  margin-top: 0;
}

blockquote {
  font-family: @baseFontFamily;
  font-size: 1em;
  font-weight: 400;
  line-height: 1.5em;
  font-style: italic;
  border-left: .5em solid @subtleColor;
  margin-left: 1em;
  padding-left: 1em;
}

blockquote p {
  font-family: @baseFontFamily;
  font-size: 1em;
  font-weight: 400;
  line-height: 1.5em;
  font-style: italic;
}