.site-head {
  height: 42px;
  margin-bottom: @margin/2;

  .navbar {
    height: 42px;
    min-height: 42px;
  }

  .navbar-brand {
    padding: 10px;
    text-transform: uppercase;
    font-weight: 800;
    color: #ccc;
    display: block;
    float: none;
    text-align: center;
    vertical-align: middle;
    height: auto;
    line-height: inherit;
  }

  .navbar .navbar-nav {
    display: inline-block;
    float: none;
    vertical-align: top;
  }

  .navbar .navbar-collapse {
    text-align: center;
  }

  .navbar-nav>li {
    padding: 0;
  }
  .navbar-nav>li>a {
    padding: 11px 0 11px 15px;
  }
}