.site-head {
  height: @headerHeight;
  margin-bottom: 0;

  .navbar-header {
    float: left;
    padding-left: inherit;
  }

  .navbar {
    height: @headerHeight;
    min-height: @headerHeight;
  }

  .navbar-brand {
    padding: @headerHeight/5 0;
    margin-left: 0 !important;
    text-transform: uppercase;
    font-size: 1em;
    font-weight: 800;
    font-family: @headerFontFamily;
    color: #ccc;
    display: block;
    float: none;
    text-align: center;
    vertical-align: middle;
    height: auto;
    line-height: inherit;
  }

  .navbar-nav {
    margin: 0;
  }

  .navbar-nav>li {
    font-family: @headerFontFamily;
    padding: 0;
    float: left;
  }
  .navbar-nav>li>a {
    padding: @headerHeight/4 0 0 @headerHeight/2 !important;
  }
}

.blog-links {
  margin-bottom: 2em;
  text-align: center;
  a {
    margin: 5px 10px;
    font-size: 200%;
  }
}
