@bodyBackgroundColor: #ffffff;
@baseFontFamily: "Vollkorn", serif;
@baseFontColor: #373c3d;
@headerFontFamily: "Ubuntu", "Helvetica Neue", Helvetica, Arial, "Nimbus L", sans-serif;
@headerFontColor: #151515;
@headerLinkColor: @headerFontColor;
@secondaryFontFamily: "Ubuntu", "Helvetica Neue", Helvetica, Arial, "Nimbus L", sans-serif;
@preFontFamily: "Consolas", Courier, monospace;
@linkColor: #46ba5f;
@linkColorHover: darken(@linkColor, 50%);
@borderColor: #ecf0f1;
@subtleColor: rgba(0, 0, 0, 0.05);
@postmetaColor: #95a5a6;
@gistBackgroundColor: #fdfdfd;

@maxPageWidth: 650px;
@navbarHeight: 160px;