// Fonts

@baseFontFamily: "Noto Sans", Helvetica, sans-serif;
@headerFontFamily: "Cabin", "Helvetica Neue", Helvetica, Arial, sans-serif;
@dateFontFamily: "Cutive Mono", Helvetica, Arial, sans-serif;
@preFontFamily: "Source Code Pro", "Consolas", Courier, monospace;

// Font sizes

@smallFontSize: 0.7em;
@metaFontSize: 1em;
@codeFontSize: 0.8em;
@defaultFontSize: 18px;
@largeFontSize: 2.5em;

// Colors

@bodyBackgroundColor: #ffffff;
@baseFontColor: #373c3d;
@headerFontColor: #151515;
@headerLinkColor: @headerFontColor;
@linkColor: #46ba5f;
@linkColorHover: darken(@linkColor, 50%);
@borderColor: #ecf0f1;
@subtleColor: rgba(0, 0, 0, 0.05);
@postmetaColor: #95a5a6;
@gistBackgroundColor: #fdfdfd;
@swedenYellow: #ffca45;
@swedenBlue: #0071a9;

// Layout

@maxPageWidth: 600px;
@margin: 2.5em;
@headerHeight: 2.5em;